* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

// assignment 1 styles
.container {
  height: 100vh;
  width: 100vw;

  &_item1 {
    height: 100%;
    width: 100%;
    background-color: darkblue;
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-weight: 600;
  }

  .little-box {
    display: flex;
    justify-content: center;
    gap: 100px;
  }

  &_item2,
  &_item3 {
    width: 300px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    color: aliceblue;
    transform: rotate(90deg);
  }

  &_item2 {
    background-color: orangered;
    margin: 20px 10px;
    transform: translateY(0px);
    opacity: 0;
  }

  //   animating the box
  .animate {
    transform: translateY(0);
    opacity: 1;
    animation: fadeAndTransform 2s ease-out forwards;
    transform: rotate(90deg);
  }

  @keyframes fadeAndTransform {
    0% {
      transform: rotate(0deg);
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      transform: rotate(90deg);
      opacity: 1;
    }
  }

  &_item3 {
    background-color: green;
    margin: 5px 10px;
    transform: translateY(0px);
    opacity: 0;
  }
}

// assignment 1 styles end

// assignment 2 styles startsadfa

.debounce .throttling {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 32px;
}

.throttling {
  display: flex;
  flex-direction: column;
  gap: 50px;

  &__button {
    padding: 20px 40px;
    border: 1px solid grey;
    border-radius: 8px;
    text-transform: capitalize;
    &:hover {
      cursor: pointer;
      background-color: darkblue;
      color: aliceblue;
      font-weight: 800;
      transition: all 300ms ease-in-out;
    }
  }
}
// assignment 2 styles end

// index.html styles
.section-heading {
  width: 80%;
  text-transform: capitalize;
  margin: auto;
  padding-top: 100px;
  font-weight: 800;
  font-size: 32px;
}

.assignments {
  max-width: 80%;
  margin: auto;
  line-height: 80px;
  text-transform: capitalize;

  &__links {
    display: flex;
    flex-direction: column;
    // gap: 10px;
  }
}

// end of style

// start of styles for clock - day3
.digital-clock {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  text-transform: capitalize;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 32px;
    font-weight: 700;
    color: blue;
    margin-top: 30px;
  }
}

// assignment 3

.code {
  padding: 50px;

  h2 {
    padding-bottom: 10px;
  }
}

.dom {
  height: 600px;
  width: 100%;

  h2 {
    text-align: center;
    font-size: 32px;
    padding: 20px;
  }

  &__wrapper {
    height: 100%;
    width: 100%;
    background-color: darkblue;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__box {
    height: 200px;
    aspect-ratio: 1;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 32px;
    animation: LeftRight 5s infinite alternate;
  }

  @keyframes LeftRight {
    0% {
      transform: translate(calc(-50vw + 100px));
    }
    50% {
      // justify-content: center;
      transform: translateX(0vw);
    }
    100% {
      transform: translateX(calc(50vw - 100px));
    }
  }
}
